  .page-link {
    color: black !important;
    background-color: #DC4C64 !important;
    border-color: black !important;
    box-shadow: 0 1px 1px #141414 inset, 0 0 8px rgba(251, 195, 40, 0.6) !important;
  }

  .form-control:focus {
    border-color: #DC4C64 !important;
    box-shadow: 0 1px 1px #DC4C64 inset, 0 0 8px rgba(251, 195, 40, 0.6) !important;
  }

  .card {
    width: 180px;
    height: 280px;
    border: solid red 1px
  }

  body{
    background-color: #EEE8AA;
  }